.calendar {

}

.calendar .month {
	
}

.calendar .week {
	
}

.calendar .day {
	border:0;
}

.calendar .day {
	border: 1px solid rgba(255,255,255,0);
	border-radius:0px;
}
.calendar .day:hover {
	background:rgba(35,35,255,0.1);
}

.calendar .day.active {
	background: rgba(255,255,255,0);
	border: 1px solid red;
	box-shadow: unset;
}