/* ----------------------------------------------------------
 *                                        CALENDAR NAMESPACE
 */
.calendar {

}
.calendar .calendar-header {
	table-layout: fixed;
	width: 100%;
	margin-bottom: 10px;
}
.calendar .calendar-header {
	table-layout: fixed;
	width: 100%;
	margin-bottom: 10px;
}
	.calendar .calendar-header button {
		border: 0;
	}
	.calendar .calendar-header td {
		vertical-align: middle;
	}

/* ----------------------------------------------------------
 *                                    CALENDAR-MONTH DISPLAY
 */
.calendar .calendar-month {

}
.calendar .calendar-month .month {
	background:blue;	
}
.calendar .calendar-month .week {

}
.calendar .calendar-month .day {
	border:0;
}
.calendar .calendar-month .day {
	border: 1px solid rgba(255,255,255,0);
	border-radius:0px;
	font-weight: bold;
}
.calendar .calendar-month .day.today {
	background: #FFCCCC
}
.calendar .calendar-month .day.selected {
	border: 1px solid red;
}
.calendar .calendar-month .day.past {
	background: #F2F2F2;
}
.calendar .calendar-month .day.notmonth {
	color: #A3A4A5;
	font-weight: normal;
	font-style: italic;
}
/*
.calendar .day:hover {
	background:rgba(35,35,255,0.1);
}.calendar .day.btn-success:hover {
	border:0;
	background:rgba(35,255,35,0.6);
	color:#252627;
}
.calendar .day.active.btn-success {
	border: 1px solid red;
	box-shadow: unset;
}
*/


/* ----------------------------------------------------------
 *                                     CALENDAR-WEEK DISPLAY
 */
 .calendar .calendar-week .blue {
	background: #DEEAF6;
}
.calendar .calendar-week .title {
	text-align: center;
}
.calendar .calendar-week .interval {
	width: 100%;
	height: 30px;
	table-layout: fixed;
}
	.calendar .calendar-week .interval div {
		position:relative;
		left:-10px;
		font-size: 8px;
	}
.calendar .calendar-week .head {
	vertical-align: middle;	
	height: 45px;
	background: #DEEAF6;
	border-top: 1px solid #F5F5F5;
	border-bottom: 1px solid #F5F5F5;
}
.calendar .calendar-week .head div {
	text-align: center;	
	width: 35px;
	font-size: 10px;
	font-weight: bold;
}
.calendar .calendar-week .table-week {
	table-layout: fixed;
	width: 100%;
}
.calendar .calendar-week .day {
	height: 45px;
	padding-bottom: 3px;
}
.calendar .calendar-week .day.selected {
	border: 1px solid red;
}
.calendar .calendar-week .hour-head {
	text-align: center;
}

.calendar .calendar-week .hour {
	border: 1px solid #F5F5F5;
	background: #FFFFFF;
}
.calendar .calendar-week .hour:hover {
	background: #E6E6E6;
}	
	/* BSSTYLE SUCCESS */
	.calendar .calendar-week .hour.success {
		background: #5CB85C;
	}
	.calendar .calendar-week .hour.success:hover {
		background: #449D44;
	}
	/* BSSTYLE INFO */
	.calendar .calendar-week .hour.info {
		background: #5BC0DE;
	}
	.calendar .calendar-week .hour.info:hover {
		background: #31B0D5;
	}
	/* BSSTYLE PRIMARY */
	.calendar .calendar-week .hour.primary {
		background: #337AB7;
	}
	.calendar .calendar-week .hour.primary:hover {
		background: #286090;
	}
	/* BSSTYLE WARNING */
	.calendar .calendar-week .hour.warning {
		background: #F0AD4E;
	}
	.calendar .calendar-week .hour.warning:hover {
		background: #EC971F;
	}
	/* BSSTYLE ADNGER */
	.calendar .calendar-week .hour.danger {
		background: #D9534F;
	}
	.calendar .calendar-week .hour.danger:hover {
		background: #C9302C;
	}