/* ----------------------------------------------------------
 *                                        CALENDAR NAMESPACE
 */
.calendar {}


/* ----------------------------------------------------------
 *                                    CALENDAR-MONTH DISPLAY
 */
.calendar .month {
	background:blue;	
}
.calendar .week {}
.calendar .day {
	border:0;
}
.calendar .day {
	border: 1px solid rgba(255,255,255,0);
	border-radius:0px;
	font-weight: bold;
}

/*
.calendar .day:hover {
	background:rgba(35,35,255,0.1);
}.calendar .day.btn-success:hover {
	border:0;
	background:rgba(35,255,35,0.6);
	color:#252627;
}
*/
.calendar .day.active {
	background: rgba(255,255,255,0);
	border: 1px solid red;
	box-shadow: unset;
}
/*
.calendar .day.active.btn-success {
	border: 1px solid red;
	box-shadow: unset;
}
*/
.calendar .day.past {
	background: #F2F2F2;
	
}
.calendar .day.notmonth {
	color: #A3A4A5;
	font-weight: normal;
	font-style: italic;
}

/* ----------------------------------------------------------
 *                                     CALENDAR-WEEK DISPLAY
 */
.calendar .calendar-week {
	table-layout:fixed;
}
.calendar .calendar-week .day {
	height: 30px;
}
.calendar .calendar-week .day.selected {
	border: 1px solid red;
	margin: 1px;
}
.calendar .calendar-week .sep {
	height: 7px;
}
.calendar .calendar-week .hour-head {
	text-align: center;
}
.calendar .calendar-week .hour-b {
	background: black;
}
.calendar .calendar-week .hour {
	background: linear-gradient(to right, rgba(240, 240, 240, 1), rgba(255, 255, 255, 1));
}
.calendar .calendar-week .hour.start {
	background: linear-gradient(to right, rgba(240, 240, 240, 1), rgba(255, 255, 255, 1));
	border-left: dashed 1px rgb(180, 180, 180);
}
.calendar .calendar-week .hour:hover {
	background: linear-gradient(to right, rgba(200, 200, 200, 1), rgba(255, 255, 255, 1));
}
