body {
	background: url('../img/background-repeat.jpg'); 
	padding:0;
	padding-top:50px;
	margin:0;
}

.footer {
    background-color: #f5f5f5;
}

.left {
    text-align: left;
}
.center {
    text-align: center;
}

.wrap {
    word-wrap: break-word;
}

.info-span {
	position:absolute;
	font-style:italic;
	right:3px;
	bottom:2px;
}

.map-gic {
    height: 500px;
    width: 500px;
}

.text-align-right {
	text-align: right;
}

.ap-preload {
	width: 200px;
	height: 200px;
	background: red;
}

/* ----------------------------------------------------------
 *                                                   BUTTONS
 */

.ap-auxpro .ap-button {
	border-radius: 0;
	border: 0;
	transform: skewX(35deg);
}

.ap-auxpro .ap-button.btn-primary {
	background: #1D70B7;
	color: #B17F49;
}

.ap-auxpro .ap-button.btn-primary:hover {
	background: #0775B5;
	color: #B17F49;
}

.ap-auxpro .ap-button-content {
	transform: skewX(-35deg);
}

/* ----------------------------------------------------------
 *                                                    PANELS
 */

.ap-auxpro .panel {
	border-radius: 0;
	border: 0;
	overflow: hidden;
	position: relative;
	background: transparent;
	box-shadow: initial;
	-webkit-box-shadow: initial;
}
.ap-auxpro .panel-default>.panel-heading,
.ap-auxpro .panel-default>.panel-body {
	border: 0;
	background: transparent;
}

.ap-auxpro .panel::after {
	content: '';
	position: absolute;
	left: -30px;
	right: -30px;
	top: 0;
	bottom: 0;
	background: rgba(177,127,73,0.2);
	transform: skew(35deg);
	z-index: -1;
}
